[2021-08-17 10:02] iadawn opened #5 "[Course Attributes] Unclear attributes"
Some of the attributes are unclear either because the language could be clearer or because I am simply not clear on what the attribute might be:

* Offer type - not sure what the options for this might be or what it relates to
* Degree of certification - not sure what the options for this might be or what it relates to
* Target role - This might be better expressed as 'Target audience' or just 'Au

[2021-08-17 10:04] iadawn opened #6 "[Course Attributes] Capture inclusion options offered"
Might it be worth including something to capture inclusion options offered by the course provider?

[2021-08-17 10:45] iadawn opened #7 "[Filter Categories] Value of Offer Type"
I don't think that Offer Type is of that much value. Certainly in comparison with the other filter options

[2021-08-17 10:45] iadawn opened #8 "[Filter Categories] Language filter"
Language may be a useful filter option

[2021-08-17 10:46] iadawn opened #9 "[Filter Categories] Course duration"
Duration might be useful. Perhaps as a short/medium/long although this might be challenging if the duration is included as free text.

[2021-08-17 10:48] iadawn opened #10 "[Filter Function] Filter criteria not replayed if no results"
If the filter choices result in no matching courses then the criteria are not replayed to the user. They are replayed if there are matches.

[2021-08-24 14:40] eoncins commented on #8
+1 to @iadawn different transpositions apply to different countries and language in web accessibility is an important issue.

[2021-08-24 14:42] eoncins commented on #9
+1 to @iadawn but duration might be difficult to filter and it might also be linked to the type of certification.

[2021-08-24 14:47] eoncins commented on #7
+1 to @iadawn "offer type" needs a better reworded maybe "type of course" and relate the course to the institution.

[2021-09-23 17:31] leticiaseixas commented on #9
We conducted previous research on current offers to have a better idea of how this information is being provided and they are very diverse, even when considering short/medium/long taxonomy, due to the different types of offers (training program x undergraduate program). We are investigating the best approach to display this information and we will focus our efforts on this topic when preparing the

[2021-09-23 17:32] leticiaseixas commented on #10
Fixed.

[2021-09-23 17:32] #10 closed

[2021-09-23 17:32] leticiaseixas commented on #8
We have included a “Language” filter. We propose this filter including only the languages available in current offers in order to minimize the number of options.

[2021-09-23 17:32] #8 closed

[2021-09-23 17:34] leticiaseixas commented on #7
We have reviewed this category, as well as the degree of certification category, and decided to merge them. Current attributes for defining an offer are: Graduate program, Undergraduate program, Training program, Professional certification, and Other.
The reason behind the choice of using the word “offer” instead of “course” is mainly because it allows us to also cover certifications - that are hi

[2021-09-23 17:34] leticiaseixas commented on #6
That is indeed a good suggestion. We included a new attribute “Accessibility resources” and we will include it in the advanced filter options to be developed in future activities.

[2021-09-23 17:37] leticiaseixas commented on #5
* Offer type : See #7
* Degree of certification: See #7
* Target role: Changed to “Audience”
* WAI Curricula correspondence: Changed to “WAI Curricula module”

[2021-11-03 13:09] sharronrush opened #12 ""offers" is an awkward term"
Since the title is List of Courses, why not just use courses? I understand that there are other types of resources in the list so if courses is insufficient, maybe use "resources"

[2021-11-10 01:14] shawna-slh opened #13 "accessibility of courses"
["Accessibility resources" section](https://deploy-preview-4--wai-course-list.netlify.app/list-of-courses/submit-an-offer#platform) in this draft says:

<hr>

Thank you for including this. It is important. This is a great start! I do think it needs more consideration. For example, what if some of these are not applicable? What is “physical accessibility”? This seems geared towards multimedia. What

[2021-11-11 17:40] iadawn commented on #12
+1

[2021-11-11 17:45] iadawn opened #14 "'Learning' options are unclear"
I think the terms: guided, non-guided, synchronous and asynchronous are a bit unclear.

Some suggested alternatives:

* Tutor led
* Self-directed
* Scheduled sessions
* At your own pace

Last one is a bit off

[2021-11-11 17:47] sharronrush opened #15 "four different types of learning"
I do think that
    Guided
    Non-guided
    Synchronous
    Asynchronous
need short phrased descriptions but don't know enough to suggest what those should be.

[2021-11-11 17:49] iadawn opened #16 "Additional accessibility resources"
* Accessible learning materials, e.g. presentations
* Materials all available before sessions
* Physical accessibility, might be better as Accessible venue
* Pre-session technology check available

[2021-11-11 17:50] sharronrush opened #17 "expand/collapse in sections of submission form"
not sure if/why this would be needed. if someone is completing the form they will need all sections. -?-

[2021-11-11 17:51] iadawn opened #18 "Last update label"
"Content update date" might be better as "Last updated"

[2021-11-11 17:57] sharronrush opened #19 "Duration"
I ma not sure it is clear what the duration refers to. Is it meant to indicate that the class will be available for 6 months or a year or so - OR - is meant to say this class will take you 3 hours or 3 weeks or 3 months to complete? Maybe it needs two parts:
1. length of time to complete the course
2. Duration of time the course will be available

[2021-11-11 18:00] iadawn opened #20 "Excessive additional information text"
For consideration.

Many of the fields include variations of: 'Indicate the ...'. For example, 'Duration (Required), Indicate the duration of this offer'. Many of these may be unnecessary and don't really add much value. Some examples that I think could be removed:

* Type - although the label could be changed to 'Type of offer' (or course if the word is changed!)
* Audience
* Level
* Prerequisite

[2021-11-11 18:02] iadawn opened #21 "Edits for introductory paragraph on the list of courses"
For consideration:

[2021-11-11 18:04] sharronrush opened #22 "Introduction to resource"
[Introductory paragraph](https://deploy-preview-4--wai-course-list.netlify.app/list-of-courses) edit suggestion
This List of Courses provides information about courses, training, and certification on web accessibility offered by different providers. It is meant to help you make informed decisions to choose a resource. The page allows you to filter submissions to find ones that match your specific

[2021-11-11 18:08] #22 closed

[2021-11-11 18:10] sharronrush commented on #21
I think the Note is too easy to ignore and might usefully be brought into the main paragraph. Perhaps something like this:

This List of Courses provides information about courses, training, and certification on web accessibility from different providers. It is meant to help you make informed decisions to choose a resource. The page allows you to filter submissions to find ones that match your spe

[2021-11-11 18:12] #15 closed

[2021-11-11 18:12] sharronrush commented on #14
+1 to need for clarity, uncertain of correct terms

[2021-11-11 22:42] bakkenb commented on #12
I agree that "offers" is just a little awkward. Some areas it is okay, but problematic or odd especially in other places that it is used, such as the following:

Submission Page:
- "Submit a course, training, or certification offer"
- "Offers providers can use this form to add..."
- "Indicate the type of the offer."

Since the resource title is currently "List of Accessibility Courses: Education,

[2021-11-11 22:49] bakkenb commented on #13
+1 to the approach outlined by Shawn above for the Accessibility section. I like the links too because if they have not thought about some of those, they will now know where to go to get the info on what they mean and how to implement.

[2021-11-11 22:56] bakkenb commented on #14
Agree some refinement here is needed.
More ideas:

- Self paced
- Instructor led
- Scheduled
- Interactive (asynchronous but there is a leader/instructor involved)(may interact with other students/participants)
- Non-interactive (asynchronous with no leader/instructor involved)

Maybe each option used for this list could come with a very short definition.

[2021-11-11 22:58] bakkenb commented on #17
+1 to no expand/collapse here.

[2021-11-11 23:04] bakkenb commented on #19
This is a really good question. My initial understanding of the section was the length of time assumed it would take someone to complete the course. This is needed and helpful. But agree with Sharron that there is more to ask here.

If the course itself is not available indefinitely, like, you only have 3 months to finish once you enroll and receive access, then that would be another area of indic

[2021-11-11 23:07] bakkenb commented on #20
Kevin brings up a good point. If there is a field where they are supposed to put a link in that brings people to a page with more information about the course, then maybe some of this other information is not needed and should be covered in the course webpage. That way it will also have less chance of having "old" info on our list that was changed by the provider and never updated with us.

[2021-11-11 23:22] bakkenb commented on #21
When first reading the intro paragraph I was looking for "something" that indicated very clearly that they were submitted by others and this is just a way to search various criteria of what is submitted.

I agree with the simplification of the intros by Kevin and Sharron above, especially the addition of the last part of Sharron's example. I feel strongly that it has to be clearly stated.

[2021-11-12 09:15] eoncins commented on #12
+1 to use "Courses" and if this is not enough maybe use "submit a course or training" which in my opinion are the two different options. In terms of certification it can apply to a course or a training.

[2021-11-12 10:42] eoncins commented on #14
Teaching formats may need an explanation, specially to clarify the term HYBRID.
HYBRID can also be a blended format (mix of online and face-to-face activities). We call it "semi-presential" and with the current format of the submission is not possible to indicate it.
I understand GUIDED as Tutor/Instructor led. Another thing NON-GUIDED because it can be scheduled of self paced. So maybe including

[2021-11-12 11:02] eoncins commented on #13
+1 to the approach proposed by Shawn because it includes the terms used in different regions.
Agree with Shawn what is "Physical accessibility"? Also agree that the accessibility resources are based on media accessibility services, how about other aspects such as "alt-text", "colour contrast", "focus order"...?
I would also include "Easy-to-understand, Plain Language, Easy-to-read".

[2021-11-12 12:17] eoncins commented on #19
Agree that this is a relevant question. To me the time duration is the lenght of the course in itself. As @bakkenb mentions if this is a self paced course then it should be indicated.

[2021-11-12 12:23] eoncins commented on #21
+1 to simplification.
Also, it is confusing to use "List of Accessibility Courses: Education, training, and certification" and then "submit an offer"

[2021-11-12 22:51] vmmiller commented on #14
Suggest using clear terms, e.g.:

"Indicate the type of learning provided in this offer. Sessions will be:
- led an instructor according to a fixed program
- self-paced
- scheduled at your own pace but within a defined time frame
- hybrid (partly guided by an instructor, partly according to your own pace)"

[2021-11-12 23:00] vmmiller commented on #18
How about:
Content last updated:
or
Last updated:

[2021-11-12 23:07] vmmiller commented on #21
1. Suggest to modify slightly:  "when they select an offer".
2. Add a disclaimer sentence see @sharronrush  version above.

[2021-11-15 14:53] shawna-slh commented on #17
I also don't see purpose of Expand-Collapse for "About You" and "About the Offer."

I can see use for it under "WAI Curricula module", especially when there are 4 very different ones. I don't feel strongly either way.

[2021-11-19 08:57] daniel-montalvo opened #23 "Unclear link text for updating existing resource"
Suggested edit:

[2021-11-29 11:36] leticiaseixas opened #24 "[submission form] include aria-describedby for additional information"
Input provided by Michele to be fixed:

[2021-11-29 11:40] leticiaseixas opened #25 "[disclaimer] use of active voice instead of passive voice"
Input provided by Sylvie to be further discussed, probably through all other listing resources:

[2021-11-29 11:46] leticiaseixas opened #26 "visual design and text sizes"

[2021-11-29 11:48] leticiaseixas opened #27 "color contrast on links in checkboxes when mouseover"
- fix color contrast on links in checkboxes when mouseover

![Screenshot 2021-11-29 at 11 48 22](https://user-images.githubusercontent.com/2460369/143862824-921d0ec4-7ee8-4518-a8b5-25576bc89a44.png)

[2021-11-29 11:51] leticiaseixas opened #28 "Country - required/worldwide"
"Country" is currently a required field. Providers can select one or more countries on the list provided.

Comments received suggested modifying this field to not required and/or adding a "worldwide" option.

Considering that:
1) A resource is always linked to one or more countries. That **does not mean** the resource is provided **only in** this country, but **they are** provided **by** this coun

[2021-11-29 12:02] leticiaseixas opened #29 "Accessibility support options"
(previous #13 #16)

Combined previous input with relevant information in [How to Make Your Presentations Accessible to All](https://www.w3.org/WAI/teach-advocate/accessible-presentations/)

Currently:

**Accessibility support**
Indicate what relevant accessibility support is provided (see guidance on How to Make Your Presentations Accessible to All). Include details in the text box.

- **Material*

[2021-11-29 12:05] #16 closed

[2021-11-29 12:06] #13 closed

[2021-11-29 12:10] leticiaseixas commented on #23
Fixed!

[2021-11-29 12:10] #23 closed

[2021-11-29 12:12] leticiaseixas commented on #21
- Updated according to @sharronrush suggestion
- Changed the button to "Submit a course, training, or certification", according to @eoncins comment.

[2021-11-29 12:12] #21 closed

[2021-11-29 12:23] leticiaseixas opened #30 "Activities options (previous "Learning")"
Merged from #14

New proposal considering survey comments and last group discussion on this topic ([19 November 2021 EO meeting mintues](https://www.w3.org/2021/11/19-eo-minutes)):

**Activities**
- Scheduled - participants are required to attend at a specif time
- Unscheduled - participants can attend at their own pace

[2021-11-29 12:27] leticiaseixas commented on #20
We removed the additional information in cases they were not providing any additional information:

- Type (now Type of resource) - removed
- Audience - removed
- Level - we believe that is important to emphasize that level is related to digital accessibility proficiency required
- Prerequisites and Topics - _could be changed to just 'For example, ...'_ - removed
- Language - we believe that this

[2021-11-29 12:27] #14 closed

[2021-11-29 12:28] leticiaseixas commented on #19
- We modified this attribute to "Length" and provided some clearer information on what is intended to be filled in this option.
- We also included a new attribute "Availability" to providers indicate the duration of time the course will be available. In the case this is a self-paced course, the end date is not required.

[2021-11-29 12:28] leticiaseixas commented on #18
Modified to "Last updated"

[2021-11-29 12:28] #18 closed

[2021-11-29 12:29] leticiaseixas commented on #17
We removed the expand/collapse in sections of the form.

We decided to keep it under the "WAI Curricula module", as it has the potential to grow into a long list.

[2021-11-29 12:29] #17 closed

[2021-11-29 12:30] leticiaseixas commented on #12
We removed the word "offer" when not necessary through the resource. In cases it was needed to define it, we used "course, training, and certification", resource, or submission, according to the context.

[2021-12-03 13:59] shawna-slh commented on #29
quick notes for now since I can't be in the meeting:
* In thinking about what to include here or not, consider difference between wanting to educate course providers, versus what potential students and procurers will want to know about the course beforehand (and potentially filter on).
* There may also be other relevant issues, e.g., accessibility of LMS ? See also [Accessibility of Remote Meeting

[2021-12-03 14:25] iadawn commented on #29
I might suggest:

* 'Slides and handouts' instead of 'Materials'
* 'Slide content' instead of 'Slides and Projected Material'

Regarding 'not applicable' I think that may only be relevant if there is some scoring based on the number of things checked?

[2021-12-15 19:56] leticiaseixas commented on #30
Changed to "Scheduling"

[2021-12-15 19:56] #30 closed

[2021-12-16 11:33] leticiaseixas commented on #29
@shawna-slh, this field only concerns "applicable" supports, as mentioned in the explanation paragraph.

@shawna-slh, concerning accessibility of LMS, we believe the "Platform" field, providing information about used systems, also helps people have more information about the accessibility of tools used in each resource. We are not sure if the accessibility of these tools is in the scope of this re

[2021-12-16 12:05] leticiaseixas commented on #28
As discussed on the [EOWG 03 Dec 2021 Meeting](https://www.w3.org/2021/12/03-eo-minutes.html#item02), the "Country" field has been moved up, closer to the provider information, in order to better clarify the context of this field.

[2021-12-16 12:05] #28 closed

[2021-12-16 20:15] leticiaseixas commented on #29
Considering the latest feedback, our current proposal is:

### Accessibility support
If applicable, indicate what accessibility support is provided (see guidance on [How to Make Your Presentations Accessible to All](https://www.w3.org/WAI/teach-advocate/accessible-presentations/)). Include details in the text box.

#### General accessibility
- [ ] Material provided ahead of time, if requested
- [

[2022-04-20 11:28] #12 closed

[2022-04-20 11:28] #19 closed

[2022-04-20 11:28] #20 closed

[2022-04-20 11:28] #26 closed

[2022-04-20 11:28] #27 closed

[2022-04-20 11:28] #29 closed

[2022-04-25 09:25] iadawn opened #110 "(med) [Listing page] Missing heading levels"
There doesn't appear to be an <h3> and each listing doesn't appear to have a heading.

Overall I think the headings for the listings are a bit out. For consideration:

* Removed the h4 from the sort label
* Change the Showing N courses h4 label to be an h2
* Add an h3 label around the listing tile

[2022-04-25 09:30] iadawn opened #111 "(low) [Listing page] Legend best label for select filters"
Not sure on this but just flagging to double check; is using the <legend> as the label for the Language and Country select elements the best approach? I checked with JAWS/Edge and it sounds fine but I don't know for other combinations and not sure that voice control software would be able to pick up the label correctly.

[2022-04-25 09:34] iadawn opened #112 "(low) [Listing page] What is the external link icon for?"
The main reason I ask is because there is no alternative text and it has the aria-hidden attribute. If it is communicating something significant should it have alternative text? If it is not communicating anything significant, should it be there at all?

[2022-04-25 09:35] iadawn opened #113 "(low) [Listing page] Website field necessary in Details"
The Website fields seems to just repeat what is in the course title. Just wondering if it is a bit redundant?

[2022-04-25 09:40] iadawn opened #114 "(med) [Filters] Language and country filters are removed when one is selected"
When I select a Language or Country from the filters all the other language or country options are removed. For example, if I select Croatia (Hrvatska) then that is the only option that is subsequently available. I then need to select '--Select an option--' before I can select a different country.

Not sure whether this is a bug or a feature but it seems a bit confusing.

[2022-04-25 09:44] iadawn opened #115 "(low) [Filters] Share link with filtered state"
Possibly for future development but it might be good to be able to share a link with the currently selected filters.

[2022-04-25 10:27] iadawn opened #116 "(med) [Submission form] Scheduling description is unclear"
The current text is:

Not sure I would describe these as 'activities'. Perhaps something like:

[2022-04-25 10:30] iadawn opened #117 "(low) [Submission form] Return to 'scheduling'"
Just a thought more on this following on from #30.

Could the options be:

* Fixed - participants are required to attend at specific times
* Flexible - participants are free to attend when it suits them

[2022-04-25 10:32] iadawn opened #118 "(med) [Submission form] Accessibility support other textarea has no label"
The 'other' text area includes a label but it is empty.

[2022-04-25 10:37] iadawn opened #120 "(med) [Submission form] Clarify process"
The end of the form includes the text:

It may be useful to add something about what is being reviewed and what will happen if there is a problem. This could be included following the form submission on the 'Form Submitted' page.

[2022-04-28 10:53] leticiaseixas commented on #112
The alternative text has been included, and the aria-hidden removed.

But the question whether the icon should be there at all is relevant.

This icon is used to indicate external links on some of the pages on the WAI website (e.g. [https://www.w3.org/WAI/planning/statements/](https://www.w3.org/WAI/planning/statements/)), but for some pages this icon is not used (e.g. [https://www.w3.org/WAI/](ht

[2022-04-28 15:18] shawna-slh commented on #112
Hi @leticiaseixas We use the icons with links or not depending on context. Basically, will users be surprised and annoyed if they click on a link and it goes to a different website? If so, then we put an icon with the link to inform them before they click on it.

For the course list (and the tools lists @SteveALee ), I think users won't be particularly surprised with they click:

Therefore, I thin

[2022-05-03 19:43] sharronrush opened #124 "[Module 3: Forms] Teaching Ideas for Topic (ED)"
I added the first two bullets and tried to streamline the language in the other ones.

* Review and verify that students have clarity about terms - forms, form controls, labels, etc
* Demonstrate the native accessibility of standard HTML form elements, and remind students that WAI-ARIA properties may only be required when building highly customized form fields and controls. Warn against overuse of

[2022-05-04 09:55] leticiaseixas commented on #124
Hi @sharronrush, this comment is for the [wai-curricula](https://github.com/w3c/wai-curricula), right?

[2022-05-04 12:44] sharronrush commented on #124
whoops, so sorry

[2022-05-04 12:44] #124 closed

[2022-05-10 10:53] #25 closed

[2022-05-10 10:53] #110 closed

[2022-05-10 10:53] #111 closed

[2022-05-10 10:53] #112 closed

[2022-05-10 10:53] #118 closed

[2022-05-10 10:53] #120 closed

[2022-05-10 11:25] leticiaseixas commented on #116
Agreed with 'activities' not being the best word.
The primary information in this field being if participants need to be present at a certain time (regardless of whether they are extra activities or teaching sessions), we modified it to:

[2022-05-10 11:29] leticiaseixas commented on #114
The filters are automatically updated. To reduce confusion, the original list is now preserved and the total number of results available is displayed, keeping the pattern of the other filters.

[2022-05-10 11:37] leticiaseixas commented on #113
This field is repeated for three main reasons:
- It is presented right at the beginning without the need to open the course details.
- Since this is a long list, it is also available at the end, so users don't need to go back to the top to get this information.
- To help with context with the link to the reviews page.

Considering that, is it enough just to keep it at the top or bottom?

[2022-05-11 09:27] iadawn commented on #113
The only problem I thought about it was it was a bare URL link which could be avoided. Other than that, it wasn't really an issue.

[2022-05-11 11:06] daniel-montalvo opened #128 "[Medium] [Confusing wording] -- "Button" should be "link""
Current wording:

[Submit a course, training, or certification](https://wai-course-list.netlify.app/course-list/submit-a-resource).

Proposed wording:

We are using a semantic link for the "Submit a course, training, or certification" I am assuming this "looks like a button" and that's why we are calling it as such. That is confusing. I think we could get away with that phrase entirely.

[2022-05-11 11:22] daniel-montalvo opened #129 "[Low] Show info buttons should contain unique info"
If you use NVDA, JAWS, and VoiceOver list of buttons, these are all shown as "Show info". If you use regular tab navigation, you get info from context.

For a better screen reader user experience, they should be "Show info [about format, scheduling, etc]. And that info should be visually hidden.

[2022-05-11 12:20] daniel-montalvo opened #131 "[High] Live region with shown courses interrupts navigation through combo box lists"
to replicate using NVDA on windows

* Focus one of the combo boxes for country or language
* Ensure focus mode is enable by pressing Insert+space until you hear a piano-like sound
* Press the down arrow key
* First thing read is the updated live region results. Second thing is the currently selected list item.

This hinders SR users efficiency quite significantly. You need to wait for the live reg

[2022-05-12 08:41] leticiaseixas commented on #128
To be consistent with the use of this element on the WAI website, we maintained the link as it is, but the phrase was removed to avoid confusion.

[2022-05-12 08:41] #128 closed

[2022-05-12 09:03] leticiaseixas commented on #113
Given that the label for this information is a website, we consider that a URL is to be expected. Any thoughts on how to present this in a different way?

[2022-05-12 09:08] iadawn commented on #113
Honestly, no 😁. That was one of the reasons why I thought to just remove it. This is low priority though and I don't have any strong thoughts about it

[2022-05-18 10:42] leticiaseixas commented on #131
NVDA [seems to ignore events associated with pressing Enter in select boxes](https://github.com/nvaccess/nvda/issues/7898).
To avoid over-complicating this interaction, the aria-live is now turned off when focusing these fields, and a status message containing the total number of search results has been added - focusable right after each field.

[2022-05-25 14:07] #24 closed

[2022-05-25 14:07] #113 closed

[2022-05-25 14:07] #116 closed

[2022-05-25 14:07] #131 closed

[2022-05-25 21:29] shawna-slh opened #141 "-> digital accessibility"
suggestion: change 'web and digital accessibility' to 'digital accessibility'

brief background: We do need to be careful of broadening the scope from web to digital in some cases, especially when talking about the standards. Where it's not sensitive and is applicable, we have been switching to 'digital accessibility' (e.g., [biz case](https://www.w3.org/WAI/business-case/) and [course](https://ww

[2022-05-25 22:03] shawna-slh opened #142 "[medium] frontload "course list" in title and h1"
Perhaps it would be best to front-load the title and h1  with 'Courses' or 'Digital Accessibility Courses' instead of 'List of'

brainstorms:

1. Courses &mdash; List of Digital Accessibility Education, Training, and Certification
2. Course List of Digital Accessibility Education, Training, and Certification
3. Course List &mdash; Digital Accessibility Education, Training, and Certification
4. Dig

[2022-05-25 22:07] shawna-slh opened #143 "[medium] footer needs updated"

[2022-06-07 08:40] #142 closed

[2022-06-07 08:40] #143 closed

[2022-06-09 12:22] shawna-slh opened #164 "Cost - paid and "reduced fee for some" maybe not quite right?"
() Free of charge
() Free with certificates for purchase
() Free for limited content or duration
() Free or reduced fee for some
() Paid

What about the situation where it's a **paid course**, yet there is a discount if 3 or more people from the same organization take the course. Or, there is a discount if you are a member of a certain organization, or in the military, or a university student. Or,

[2022-06-09 19:24] shawna-slh opened #174 "link to specific course info page, versus general training page, versus home page, etc."
For the Eval Tools List, we have needed to enforce that the link has to go to a page with information on the specific tool. (For example, if an organization also provides a product or service that does not fit in the Eval Tools list, they cannot link to a high-level page that covers those other things too, or even a home page.) {{ @kakinney can you make sure that gets include in the listing parame

[2022-06-13 13:37] shawna-slh opened #188 "scope - company internal? conferences?"
Some questions on what is in scope to include on the list are below.

I think we should consider them from several aspects, including:
1. How do they **meet the objectives** and [audience's tasks](https://www.w3.org/WAI/EO/wiki/WAI_Curricula/List_of_Courses#Audience)?
2. How do they **impact the user experience** with the list? For example, if we were to list training only available to internal em

[2022-06-13 22:58] philljenkins commented on #188
This is no difference of an anoyace that listing courses that require a fee to take. But having a single source of courses, including internal company course would provide a better experence to those employees of that company.

I believe these should also be included.  There is little difference between an instructor led workshop as part of a conference and an instructor on-line course.

Criteria

[2022-06-14 00:23] shawna-slh commented on #188
I respectfully disagree. If I am seeking a course to take, it seems annoying/frustrating/exclusionary to see courses that I cannot take because I am not an employee of one company. If there is a publicly available online course that I can take that requires a fee, that is not exclusionary.

Employees of a single company are a tiny fraction of the expected users. Balance the benefit to that tiny fr

[2022-06-15 13:49] leticiaseixas opened #193 "course form failure"
[Video of problem](https://mit.zoom.us/rec/play/UsY4k8lPu_oNE1Xg02lG-_BnSxMZyAxXxGtUHTnThLdFh8bhgfnrdJTr4IsnjmAdY92apRSlBVNdrmDj.0QFy7Hg9i-qUOw2L?continueMode=true&_x_zm_rtaid=rUOGXJEgTX-EHg63pmcmfg.1655300987936.2df84edb53a3ec64668c8e47d7598641&_x_zm_rhtaid=353)

Best guess characters are breaking form to JSON  conversion

[2022-06-15 15:09] SteveALee commented on #193
Here's the Netlify function logs - they are only kept for 7 days so archiving now!

[code]

Looks like submission_date conversion to JSON is broken.

Thinking the error message should include the submission ID and more if can easily pass data in a redirect.

[2022-06-16 14:20] SteveALee commented on #193
@shawna-slh  - I think I entered all the data the same except Description and C0mments and it [worked](https://github.com/w3c/wai-course-list/pull/198/files).

So either the bug was due to content in those fields (or size) or there was another issue.

[2022-06-16 14:46] SteveALee commented on #193
Guessing the preview dates being out is due to date handling functions mixing UTC and local times zones. Tricky stuff.

[2022-06-16 16:01] SteveALee commented on #193
For now we'll keep an eye on this as currently is not reproducible. If a problem occurs then if this issues is updated I'll get notified and look into it ASAP.

[2022-06-16 19:55] shawna-slh opened #199 "[submission form] minor edits to intro wording"
suggestions for https://www.w3.org/WAI/courses/submission/ to address feedback

suggestion - add "to be listed on the WAI website.": This form allows you to provide information about courses, training, and certification on digital accessibility to be listed on the WAI website.

note: when we publish the list, then change "on the WAI website" to the title of the course list and link to it.

---

Su

[2022-06-16 20:04] shawna-slh opened #200 "[failure message] minor edits"
https://www.w3.org/WAI/courses/submission/failure.html

Given higher likelihood that someone (other than Shawn ;) might get the message, I suggest something like:

[2022-06-16 20:18] shawna-slh opened #201 "[list itself] to update info, right box, disclaimer"
preview: https://deploy-preview-191--wai-course-list.netlify.app/courses/list/#disclaimer

In the box on the right is:

I don't think we want to give that so much prominence. Options:
1. add "or update" to the button "Submit a course, training, or certification"  -> "Submit or update a course, training, or certification". Then hopefully they easily see there to send email. Maybe make that more pro

[2022-06-16 21:19] shawna-slh opened #202 "minimal header vs. full site navigation [Eval Tools List, Course List, Authoring Tools List]"
_[This is an attempt to gather all of the info and background in one place.]_

For the List pages, we could use the full WAI banner and navigation that is throughout the main WAI website, or we could use the “minimal header” without all the text and links (e.g., [ATAG Report Tool](https://www.w3.org/WAI/atag/report-tool/), [ARIA APG](https://www.w3.org/WAI/ARIA/apg/)

previous discussions and issu

[2022-06-17 14:13] iadawn commented on #164
Perhaps this is a bit more of a two stage question:

Cost (Required):
o Free
o Paid

Discounts or additional costs:

[] Fee for certificate
[] Reduced fee for some participants
[] Reduced fee for group bookings
etc

[2022-06-17 14:28] shawna-slh commented on #164
Cost (Required)
() Free of charge
() Free, with certificates for purchase
() Paid, with some free content or free for a limited duration
() Paid, with reduced fee for some
() Paid

[2022-06-24 08:53] #200 closed

[2022-06-24 15:17] leticiaseixas commented on #201
1. added "or update" to the button "Submit a course, training, or certification" -> "Submit or update a course, training, or certification".
	- probably the best option, as this form is also intended for update courses, therefore will soon enable editing entries.
2. made email to update info more prominent on the submission form
3. moved the short disclaimer wording and link in the box on the righ

[2022-06-24 15:18] leticiaseixas commented on #201
updated list preview: [https://deploy-preview-221--wai-course-list.netlify.app/courses/list/](https://deploy-preview-221--wai-course-list.netlify.app/courses/list/)
updated form preview: [https://deploy-preview-221--wai-course-list.netlify.app/courses/submission/](https://deploy-preview-221--wai-course-list.netlify.app/courses/submission/)

[2022-06-24 15:28] shawna-slh commented on #201
humm - except now "If you want to update information in the list or delete a course" is confusing because there is no course list to update and delete from. :-)

Maybe best not to have that section at all until the list is published?

[2022-07-07 08:43] #201 closed

[2022-07-07 08:44] #202 closed

[2022-07-07 08:44] leticiaseixas opened #247 "Fix breadcrumb / sidebar navigation on full site navigation"

[2022-07-11 15:48] leticiaseixas opened #252 "topics are not being correctly registered"

[2022-07-11 17:55] leticiaseixas opened #263 "countries and prerequisites are not being correctly registered"

[2022-07-14 21:21] shawna-slh commented on #247
Hi @leticiaseixas

The breadcrumb is generated from the navigation.yml file. This might do it: https://github.com/w3c/wai-website-data/pull/89/files

Hopefully you can test that locally.

I'm not sure if there will be any hiccups because the list page doesn't have secondary navigation? We should plan to test that well before publishing.

[2022-07-15 00:06] shawna-slh commented on #247
As shown in https://github.com/w3c/wai-website-data/pull/89/files , current proposal is to put the Course List under:
Accessibility Fundamentals > Courses

Here's a [draft new Digital Accessibility Courses Overview page](https://deploy-preview-74--wai-fundamentals-overview.netlify.app/courses/)

Input welcome: [PR](https://github.com/w3c/wai-fundamentals-overview/blob/when-course-list-publish/cont

[2022-07-15 17:33] #263 closed

[2022-07-21 14:42] shawna-slh commented on #247
hey @SteveALee . I see "Course List: Getting an Accessibility Fundamentals nav side bar" on your To Do list. I think we do ***not*** want that.

I think we want the full page width for the lists -- since the filters take up a bunch of space. @leticiaseixas can you confirm?

[2022-07-21 15:06] leticiaseixas commented on #247
Yes, I confirm. We do **_not_** want the secondary navigation side bar - and that is our current issue.

[2022-07-21 15:07] SteveALee commented on #247
@shawna-slh sorry badly worded - should be "remove"

[2022-07-21 15:30] shawna-slh commented on #247
@leticiaseixas In case it helps -- here are a couple of pages that do not have the secondary/left nav... although the also don't use full width :-/
* https://www.w3.org/WAI/resources/
* https://www.w3.org/WAI/translations/

[2022-07-22 00:23] MicheleAWilliams-A11y opened #278 "[!!] Dynamic heading confusing"
Apologies for just bringing this up, but the "Showing [number] courses" heading is confusing and disruptive -- when using a screen reader and visually. If you want to alert users that their list of choices has updated, this can still be part of text below the heading and tied to an alert, but I don't think we should set a pattern of making headings dynamic alerts.

Also, when bringing up a list of

[2022-07-22 00:34] shawna-slh commented on #278
Let's ask some screen reader users. @Sylvie42 ? others?

[2022-07-22 00:35] MicheleAWilliams-A11y opened #279 "[!!] Search should be under a heading & reorder the top portion"
The search field is sitting above a main heading for the courses (for which it's related) and below the "Important Disclaimer" heading (for which it is not related). This violates "Meaningful Sequence" and "Info and Relationships" and is easy to miss if navigating by heading with a screen reader.

Additionally, the feedback for the search field is split up because you hear the dynamic heading (whi

[2022-07-22 00:37] MicheleAWilliams-A11y opened #280 "[!!] Typo - "Searchterm""
When you search and there are no results, the message includes a repeat of your search text. It reads "Searchterm" as one word instead of two as in the photo:
<img width="983" alt="Screenshot of misspelled phrase" src="https://user-images.githubusercontent.com/84785057/180337374-2beae78d-11e3-4968-9e2e-1e32b5d3e3cf.png">

[2022-07-22 00:45] MicheleAWilliams-A11y opened #281 "[ED-med] "Language" and "Country" filters - Why clickable text below?"
It's not clear why the summary of languages and countries is clickable text (`tabindex="0"`). Seems unnecessary; if you want it to be read by screen readers while people are tabbing through the fields, make it an `aria-describedby` attribute.

Also, the placement below the `select` fields seems not as useful as above them. This information is most useful before I expand the menu list so I'll know

[2022-07-22 00:52] MicheleAWilliams-A11y opened #282 "[ED-med] "+Details" should not be headings"
The expand/collapse "Details" buttons are headings but this doesn't seen helpful. Since it's repeating text, there's no way to know which "Details" you're navigating to with heading navigation in a screen reader unless you first listen for the heading above it, and by then you can just as easily select that heading then press Tab to get to the Details button to be sure you're in the right spot.

T

[2022-07-22 00:54] MicheleAWilliams-A11y commented on #282
Update: I see now they are in details/summary but then also have an <h4>. I would say I don't understand the value of adding the <h4> (particularly since it's making the text larger than the course name which is also visually jarring).

[2022-07-22 06:21] Sylvie42 commented on #278
Hello @MicheleAWilliams-A11y and @shawna-slh,

I just tested selecting new courses by checking a checkbox. There is an alert indicating that 3 courses out of 5 are shown. This is good information.

Then, when browsing from heading to heading, I don't find it confusing to hear / read : "Showing 3 from 5 courses". This information seems to me helpful as you know that you see 3 courses and that there

[2022-07-22 07:43] leticiaseixas opened #283 "Skip links / Access keys"
Previous versions of the Course List included two skip links and two accesskeys to jump to results (r) and jump to filters (f) (see https://deploy-preview-208--wai-course-list.netlify.app/courses/list/). These followed the same behavior as the "skip to content" standard feature used on the minimal header. However, with the full header, this interaction does not work so well:

- The "skip to conten

[2022-07-22 08:44] SteveALee commented on #283
Thanks for a really clear explanation. I've a few quick thoughts.

- changing the main site fixed skip links link to a dynamic button like the standalone resource one might work
- I'm not sure multiple skip links to different areas is a good idea. It certainly not a pattern I've seen often. It adds extra hidden tabstops. If only browsers offered a list of headings like screenbreaders do.
- access

[2022-07-22 13:36] leticiaseixas commented on #278
@Sylvie42 Would it be clearer if we changed the mentioned text to something like "Showing X filtered courses out of a total of X courses"?

[2022-07-22 14:06] leticiaseixas commented on #281
- This information is updated after a filter selection. It just seems odd to me to have this information before the field, especially as the other fields have this total information being displayed after the field text itself.
- Also, the aria-describedby, in this case, does not work, since it is a dynamic information. That is, when this information is updated, screen reader users would not be awa

[2022-07-22 15:40] leticiaseixas commented on #193
After running some tests I identified that the error is actually caused by copying some special characters that are not transposed in JSON in the correct way - in particular the bullet points under "[Course content (syllabus)](https://www.w3.org/WAI/fundamentals/foundations-course/#what-you-get-from-the-course)". It is worth taking a closer look at this.

[2022-07-22 16:22] SteveALee commented on #193
Great spot. I had thought I'd tested correct escaping.

Is it possible to give example data entry that breaks?

[2022-07-22 16:23] SteveALee commented on #193
Oh, sorry, just spotted linknto video

[2022-07-22 16:27] MicheleAWilliams-A11y commented on #281
Thanks for the explanations, these help. I'd say consider this closed if there's no other objections.

[2022-07-22 16:27] #281 closed

[2022-07-25 07:34] daniel-montalvo commented on #283
Thanks @leticiaseixas for this background. It is really helpful.

+1 to only one "Skip to main content" link and no access keys as @SteveALee suggests.

[2022-07-25 07:51] daniel-montalvo commented on #278
Thanks @MicheleAWilliams-A11y @Sylvie42 @shawna-slh and @leticiaseixas for bringing this to my attention.

I wonder if the phrase "Current filter criteria" should even be a heading. If so, it should definitely follow the heading hierarchy and be an h3.

I'd say the heading "showing [number] courses" should be kept even if it changes as filters are applied.

Even shorter and more succinct, "showing

[2022-07-25 08:01] Sylvie42 commented on #278
Hello,

I agree with @daniel-montalvo.

Best

Sylvie

[2022-07-25 19:47] shawna-slh opened #284 "[HIGH] HTML validation"
See https://validator.w3.org/nu/?doc=https%3A%2F%2Fdeploy-preview-248--wai-course-list.netlify.app%2Fcourses%2Flist%2F&showoutline=yes

[2022-07-25 19:54] shawna-slh opened #285 "[ED-LO-MED] Important Disclaimer in DOM order"
Currently is:
...
* h2> Filters
* h2> Important Disclaimer
* h2> Showing 5 courses
...

I think ideally the "Important Disclaimer" would be near the end, rather than interrupting the flow from the filters to the results. (since we already have near the beginning  "...W3C does not endorse specific courses. See [Important Disclaimer](https://@@)."

[2022-07-25 20:04] shawna-slh opened #286 "[ED-LO-MED] clearer dates"
I think it's not easy to figure out what these dates are:

Proposal:
* For the date the course was updated, use a bold label like the other info about the course itself:

* For the date the listing was updated, put it at the end and in italics:

[2022-07-26 09:00] #280 closed

[2022-07-26 09:55] #282 closed

[2022-07-26 16:19] leticiaseixas commented on #278
"Current filter criteria" is not a heading anymore.

[2022-07-26 16:47] leticiaseixas commented on #284
Hey @shawna-slh ,

Thank you for poiting that out.
I fixed most of the errors. However, there are still three issues. Two of them coming from the main template - and also replicated in other pages through the WAI Website:

1. Invalid character in the footer email link (Bad value `mailto:wai-eo-editors@w3.org?subject=[en]%20Course%20List` for attribute href on element [`a`](https://html.spec.whatwg

[2022-07-26 17:40] leticiaseixas commented on #285
Hi Shawn,

I understand and agree with your point. However, I am concerned about the visual order being different from the DOM order (screen reader structure). Shouldn't we then discuss about moving the "Important Disclaimer"?

[2022-07-26 17:48] shawna-slh commented on #285
Hi @leticiaseixas
Sure. I see it's different in the [Eval Tools List prototype](https://master--wai-evaluation-tools-list.netlify.app/list-of-evaluation-tools/#disclaimer). Could you work with Vera on a proposal for consistent placement, visual design, and wording among the new tools? :-)

[2022-07-26 17:51] leticiaseixas commented on #279
Hi @MicheleAWilliams-A11y, thanks for the feedback.

From what I understand there are two main issues here:

1. The first, about the "Important Disclaimer" can be better discussed in #285.

2. The second, as I understand it, you suggest adding: a main title to the results list, followed by the "Sort by", "Search" field, and a search result title/summary. Is that correct? If so, the search element

[2022-07-26 19:19] MicheleAWilliams-A11y commented on #279
Hi @leticiaseixas - my primary issue here was the placement of the Search field being above the Course List heading, not below it. It's usually advised that you place content below a heading.

Perhaps another issue to have others weigh in on.  cc: @daniel-montalvo and @Sylvie42 if you have time to comment

[2022-07-26 20:46] bakkenb commented on #286
I completely agree with this change and the use of bold for "content updated" and styled like the other listing topics with a colon. This is much more clear what the two dates are meaning.

[2022-07-27 01:52] shawna-slh opened #287 "[ED-LO] title"
APOLOGIES that I'm bringing this up again. Feel free to close it without any more consideration.

It's just that this title wording keeps nagging at me as awkward and improper. I don't have my grammar hat on to define why.

I think either of these options would be smoother:

1. Course List &mdash; Digital Accessibility Education, Training, and Certification
2. Course List: Digital Accessibility Ed

[2022-07-27 08:29] leticiaseixas commented on #279
Right!
I suggested we discuss this further with the EOWG this Friday, it would also be interesting if you could better explain what your concerns are.
Just to confirm and come up with a more solid idea of your proposal, it would then be something like these images below?

![Captura de ecrã 2022-07-27, às 09 23 15](https://user-images.githubusercontent.com/2460369/181199946-518654f4-57d7-4d69-a4b

[2022-07-27 14:23] leticiaseixas commented on #287
+1
Changed to: Course List - Digital Accessibility Education, Training, and Certification

[2022-07-27 14:41] leticiaseixas commented on #285
Disclaimer box moved to the bottom of the page, after the results listing.

[2022-07-27 20:07] MicheleAWilliams-A11y commented on #279
Yes, that represents my proposal -- or even reusing your "Showing X of Y courses" heading and simply moving the search under that since folks said they didn't mind that as a heading (though I _really_ like what you have in these photos and I'll explain why below).

First, to explain why I flagged this as an issue: as I've always understood it, screen reader users in particular experience a new pag

[2022-07-29 10:53] leticiaseixas opened #292 "sort by not working"
In `courses/list/` (development branch) change the `Sort Order`

List is not redrawn and should be

[2022-08-04 15:54] shawna-slh commented on #279
I think this was resolved in [EOWG 29 July](https://www.w3.org/2022/07/29-eo-minutes)

[2022-08-04 17:32] #279 closed

[2022-08-04 17:36] #287 closed

[2022-08-04 17:37] #286 closed

[2022-08-04 17:37] #285 closed

[2022-08-04 17:37] #278 closed

[2022-08-05 09:53] leticiaseixas commented on #283
+1 to only one "Skip to main content" link and no access keys

 I'd say consider this closed if there's no other objections.

[2022-08-05 09:53] #283 closed

[2022-08-05 12:25] SteveALee commented on #292
@leticiaseixas The reason is your [sorting function](https://github.com/w3c/wai-course-list/blob/development/_includes/wai-course-list/js/courses.js#L201) is comparing the data title with the ID in the DOM and that doesn't do what you want.

I guess you could either extract the Title from the Heading link (assuming it is the same as the data title) or attach the data title as a data attribute?

[2022-08-05 12:43] SteveALee commented on #292
PS I also noticed that the `rebuildList` function [mutates the the array that is passed in](https://github.com/w3c/wai-course-list/blob/development/_includes/wai-course-list/js/courses.js#L198). Thats doesnl;t seem to matter here as `newResults` is [not used again](https://github.com/w3c/wai-course-list/blob/development/_includes/wai-course-list/js/courses.js#L96-L101) in the calling function.

Pe

[2022-08-05 13:31] SteveALee commented on #247
The side nav is now not showing for the two pages. I added a `page.no-sidenav` value to the theme to support this . ie

ie this in page yaml:

[code]

[2022-08-05 14:03] SteveALee commented on #193
@leticiaseixas I can't repo it

I tried adding the 5 curricula topics only and in debug mode we get valid JSON. I copied the text (not bullets) which is what @shawna-slh appears to have done in the video.

so

- is it definitely those that cause the error?
- if so, what browser? I wonder if Firefox (which I use) is tidying up the copied text
- if not - what can it be? :(

[2022-08-05 14:13] SteveALee commented on #193
Ahah, So when I pass the JSON on to Github it goes boom!

[code]

So despite it being valid JSON (I validated it) GitHub exploads. I'll have to debug the action next

[2022-08-05 17:42] SteveALee commented on #193
Problem turn out to be when sending to github the JSON is NOT utf-8 encoded by default so unicode chars got mangled break the JSON - D'oh!

Content-type header needs to be "application/json;charset=UTF-8"

Fixed

@shawna-slh this is fixed in live site as the wai-website Netlify function has been updated.

[2022-08-05 17:42] #193 closed

[2022-08-08 13:57] #292 closed

[2022-08-08 14:02] #247 closed

[2022-08-08 14:12] shawna-slh commented on #247
thanks, @SteveALee ! and did you document it where we can find it when we want it in the future? :-)

[2022-08-08 16:16] SteveALee commented on #247
@shawna-slh see https://wai-website-theme.netlify.app/technical/navigation/#hide-side-navigation-menu-from-a-page

Did you mean to close as breadcrumbs was not specifically addressed AFAICS

[2022-08-08 20:53] shawna-slh opened #296 "publication checklist / reminders"
* [x] polish [new courses parent page](https://github.com/w3c/wai-fundamentals-overview/blob/when-course-list-publish/content/courses.md) and update the navigation.yml
* [x] update https://www.w3.org/WAI/courses/ with link to course list

[2022-08-10 19:26] shawna-slh opened #302 "[medium-high] individual wanting training vs. customized training for an organization"
Hey @leticiaseixas In reviewing the submissions, I had a few thoughts, and re-looked at the [requirements](https://www.w3.org/WAI/EO/wiki/WAI_Curricula/List_of_Courses). Two very different scenarios:
1. Individuals - I want to take a course
2. Organizations - I want to hire a trainer/company to provide training for staff in my organization (likely customized to my situation)

Now, looking at the [

[2022-08-10 19:32] shawna-slh opened #303 "[low-medium] order of Type of resource"
Based on the current submissions, I think we should revisit at least the order of:

Seems like Training should be first.

Also, do we want to keep separate for Graduate program and Undergraduate program? Since there will be very few, maybe the Filter is combined (even of the data is separate in the details listing)

see also: [individual wanting training vs. customized training for an organization

[2022-08-10 19:43] shawna-slh opened #304 "[low] filters lists - hanging indents"
what I see:
![image](https://user-images.githubusercontent.com/6991814/184005009-c6611d2a-a231-4ffb-be2a-df1dcaf5f7ca.png)

alt="checkbox list with number and words under the checkboxes, even further left"

what I think would improve readability and decrease cognitive load a bit:
![image](https://user-images.githubusercontent.com/6991814/184005920-ad788484-7bb0-4d60-b74d-1c9622d8138a.png)

alt="ch

[2022-08-22 22:02] shawna-slh opened #316 "[low] spacing after button before list"
In some views, the large space after the Submit button makes it seem like there's nothing there:
<img src="https://user-images.githubusercontent.com/6991814/186026253-5516bd8b-1288-40a2-b234-2878b6f18364.png" width=500>

Seems even smaller, there's extra space there.
<img src="https://user-images.githubusercontent.com/6991814/186026342-a0624253-8b47-4877-b795-191927be7c05.png" width=500>

[2022-08-22 22:09] shawna-slh opened #317 "[medium] promote W3Cx accessibility course"
Unless there are concerns, I think we want to "highlight" the [WAI course](https://www.w3.org/WAI/fundamentals/foundations-course/). I'm thinking in addition to including it in the list with others, that we have near the top:
* at least a sentence and link in the intro text area
<br>_or,_
* maybe a box right of h1 and above disclaimer blurb - with an image and short blurb?

[2022-08-31 15:01] leticiaseixas commented on #302
The current proposal is to add an extra field to the submission form, which will be included as a new filter in the course list.
Possible suggestions:

1. Who can take this? (Choose as many as apply) (Not required)
[ ] Individuals
[ ]Organizations

2. Registration type (Choose as many as apply) (Not required)
[ ] Individual
[ ] Organizational
[ ] Groups

[2022-09-01 00:25] AndrewArch commented on #302
The thought I had was to offer the choices somewhere of
[] Public course
[] In-house course
But your suggestions would work fine @leticiaseixas

[2022-09-01 10:05] #304 closed

[2022-09-01 10:11] leticiaseixas commented on #303
Type of resource updated to have Training first:

[ ] Training (14)
[ ] Graduate program (0)
[ ] Undergraduate program (0)
[ ] Professional certification (2)
[ ] Other (0)

- still to be addressed: Combine Graduate program and Undergraduate program
- maybe it is better to **not** address #302 together to better distinguish those issues

[2022-09-01 14:21] leticiaseixas commented on #302
Proposal preview available at:
- [Course list preview](https://deploy-preview-320--wai-course-list.netlify.app/courses/list/)
- [Submission form preview](https://deploy-preview-320--wai-course-list.netlify.app/courses/submission/)

[2022-09-01 17:53] shawna-slh commented on #317
Hi @leticiaseixas -- I added this to the EOWG agenda for 2 Sept. Any chance you could give some thought to options, and possibly even provide preview(s)?

[2022-09-01 18:00] shawna-slh opened #321 "[medium-low] add out-of-scope to submission form"
To the top of https://www.w3.org/WAI/courses/submission/ add note about what will not be included (e.g., university courses that require matriculated student status), and probably link to more details on scope.

rationale: save them from doing the submission form only to be rejected, and save us the trouble of processing those submissions!

[2022-09-02 11:36] leticiaseixas commented on #317
- sentence and link in the intro text area: [Preview](https://deploy-preview-325--wai-course-list.netlify.app/courses/list/)

- box right of h1 and above disclaimer blurb - with an image and short blurb: [Preview](https://deploy-preview-324--wai-course-list.netlify.app/courses/list/)

_text and images for viewing purposes only - are still to be further addressed_

[2022-09-02 12:09] daniel-montalvo commented on #317
Thanks much @leticiaseixas

`Just noted this code snippet right before the link to the EDX/WAI course

[code]

We may want to mark this image as decorative if we go for this option.

[2022-09-02 15:50] leticiaseixas commented on #321
Can the current [scope](https://www.w3.org/WAI/EO/wiki/WAI_Curricula/List_of_Courses#Scope) be considered ready enough to be made available / linked in the form?

[2022-09-06 23:21] shawna-slh commented on #321
I think:
1. Go ahead and link to it from the form, so there is something available now, and you don't need to add it later.
2. It needs some more work. I added it to potential EOWG agenda for this week.

For example, I think it needs to:
* cover the case of a company training department wanting to procure an in-house course for their employees "Organizational consumers" in [reqiurements](https://w

[2022-09-06 23:23] shawna-slh commented on #317
I think alt="W3C logo"

[2022-09-06 23:24] shawna-slh commented on #317
resolved with https://github.com/w3c/wai-course-list/pull/325#issuecomment-1238715900

[2022-09-06 23:48] shawna-slh opened #328 "add acknowledgements"
@leticiaseixas  see e-mail

[2022-09-08 17:39] shawna-slh opened #332 "draft note placement - OK to leave for a couple days until we announce next week"
Hi @leticiaseixas I added the draft note text in the frontmatter and it's not positioned correctly. Options:
1. Just leave it. It stands out better and makes it more clear that it's a draft page :-)
2. move it
2.1. delete from frontmatter: ```doc-note-message: <p><strong>Please do not share links</strong> to this draft page yet. We plan to announce it in September 2022. To get notified when it is

[2022-09-09 09:35] iadawn commented on #321
Couple of possible concerns:

* The scope as a link in the leader text is quite likely to be to be missed. I think this is especially problematic if there is information in the scope that would outline when a course wasn't applicable. This could be addressed by including a checkbox to make it clear that the submission meets the scope requirements.
* I wonder if some examples of courses that are*no

[2022-09-12 12:26] leticiaseixas commented on #296
- [ ] merge PR #331 with submissions updates on registration type

[2022-09-12 15:02] shawna-slh opened #336 "[important] Free filter should also show Free with certificate"
Use case: Individual wants a free course. They select the filter "Free of charge" (and don't bother noticing the next filter).

Currently, the courses that are "Free, with certificates for purchase" are filtered out, and this user doesn't see them at all.

I think this is a design error.

Ideas for addressing this:
1. Maybe short-term fix: Change the filter code so that if user selects "Free of ch

[2022-09-12 17:34] #328 closed

[2022-09-12 17:35] #188 closed

[2022-09-12 17:35] #302 closed

[2022-09-12 17:35] #303 closed

[2022-09-12 17:35] #316 closed

[2022-09-12 17:41] leticiaseixas commented on #336
Hi @shawna-slh,

I think the use case mentioned can be solved just by changing the filters: combining the two filters ("Free of charge", and "Free, with certificates for purchase") and displaying in more detail in the list, similar to what was done with Type of resource. So we can make sure that this change would be made soon, while we discuss further the other use case mentioned regarding paid co

[2022-09-12 18:01] shawna-slh commented on #336
+1

I think combining those 2 filters falls under the EOWG [Process for Minor Changes](https://www.w3.org/WAI/EO/wiki/EOWG_Participation_Info#Process_for_Minor_Changes). @kakinney and @bakkenb can weigh in.

That means you can go ahead and make the change, and we just need to notify EOWG. We can add to Work for this Week or elsewhere. In W4tW, there's a commented out section:
[code]

[2022-09-12 18:07] shawna-slh commented on #188
EOWG discussed this many months ago and unanimously agreed that courses available only to students enrolled in a University, and courses available only to employees of a specific company were out of scope of this listing.

We will update the scope information to be more clear about that, per https://github.com/w3c/wai-course-list/issues/321

[2022-09-12 18:11] shawna-slh commented on #188
References:
* [Course List Requirements](https://www.w3.org/WAI/EO/wiki/WAI_Curricula/List_of_Courses)
* [EOWG minutes 17 June](https://www.w3.org/2022/06/17-eo-minutes.html#item01)

[2022-09-12 18:33] shawna-slh commented on #321
I also think that since we are pointing to the scope, that we should put it in a better place than the middle of a wiki page.  Maybe in its own wiki page, maybe in GitHub?

Then another thought -- how about just have it on the submission form itself, collapsed by default. They folks can get the info right there and don't have to leave the form!

[2022-09-12 18:36] shawna-slh commented on #321
Not sure whether or not that's useful? If it doesn't meet the scope, then we just don't include it.

+1

[2022-09-13 08:15] iadawn commented on #321
I was just thinking that a form question would require a bit more attention.

[2022-09-13 11:08] leticiaseixas commented on #336
Combined "Free of charge" and "Free, with certificates for purchase: [Preview](https://deploy-preview-339--wai-course-list.netlify.app/courses/list/)

[2022-09-13 12:48] leticiaseixas commented on #321
Considering that, our current proposal comprises:

- Inclusion of an expand/collapse element in the form with more details about the scope
- [New dedicated page for the scope](https://github.com/w3c/wai-course-list/wiki/Course-List-Scope)
- Highlighted what is outside of scope
- Checkbox on the form to confirm providers are aware of the scope

[Proposal 1:](https://deploy-preview-340--wai-course-l

[2022-09-13 13:45] iadawn commented on #321
Proposal 2 would get my vote... I would hate to get to the bottom of the form only to be told that it wasn't eligible.

[2022-09-13 13:48] kakinney commented on #321
I had the exact same thought @iadawn.  I would rather it be at the top of the form.

[2022-09-13 14:58] shawna-slh commented on #321
quick notes before meetings:
* Would it be feasible to shorten the scope a lot and then it can all be in the expanded section of the main form so you are not requiring every use to go to a separate page?
* I think make it more positive and encouraging up front with brief summary of what *is* in scope.
* Perhaps "in scope" is jargony, and would be better to say @@

[2022-09-13 15:06] shawna-slh commented on #321
_minor formatting thing:_ I propose not having the scope in a box. I think that brings unnecessary attention to it. And also it takes up more space with the padding. On WAI website, most expand-collapse are on headings in regular text, e.g., https://www.w3.org/WAI/teach-advocate/accessible-presentations/

[2022-09-13 16:14] kakinney commented on #321
Courses that will be included on this list are courses that are open to the public, focus on digital accessibility and are three or more hours in length.  This list targets specialization, training, and professional certification courses for individuals or organizations.  Also in scope are full graduate or undergraduate degree programs focused on digital accessibility; individual courses that are

[2022-09-13 16:21] bakkenb commented on #321
[See preview of the above proposal](https://deploy-preview-339--wai-course-list.netlify.app/courses/submission/) posted by kakinney.

[2022-09-13 17:26] #317 closed

[2022-09-13 19:48] shawna-slh commented on #321
Thanks @leticiaseixas , @kakinney ,  @bakkenb , @carlosapaduarte !
+1 for short info on this form and not a separate page.
-1 for "Also in scope are full graduate or undergraduate degree programs focused on digital accessibility" as far as I understand, since they would almost certainly have enrollment requirements?

I suggest:
* bullets rather then sentences - easier to skim and process
* checkli

[2022-09-13 20:00] kakinney commented on #321
Looks good to me.  Thanks @shawna-slh

[2022-09-13 20:06] carlosapaduarte commented on #321
They would, but anyone should be able to enroll in the full program. It's different from having to be enrolled in a program to take a single course.

[2022-09-13 20:20] bakkenb commented on #321
That is exactly what we were thinking and why it was included. Although, I know it may be confusing to some.

[2022-09-13 20:24] bakkenb commented on #321
Other than my previous comment (which I am on the fence about but leaning towards not including), your proposed edits look good Shawn.

We were trying to shorten by making simple paragraphs and also trying to use the "what is included" more than the "what is excluded" but that was hard to do sometimes.

[2022-09-13 21:18] shawna-slh commented on #321
It seems to me the differentiator for what to include or not is **if _anyone_ can** take it, whether it's an individual course or a full university program. All of the university programs that I know of, you have to qualify for, e.g., have at least X grade point average, at least X score on major test (e.g., SAT, ACT), etc.

[2022-09-13 21:24] shawna-slh commented on #321
Good point. That did kinda bother me. I made some tweaks (that you can see by clicking the drop-down arrow after "edited").

[2022-09-14 08:15] carlosapaduarte commented on #321
This is a really though line to draw I agree, but how is that different from a course that is open to anyone and has as prerequisite "advanced knowledge of HTML, CSS and JS"? If anyone can work to meet this prerequisite, then we can argue that anyone can work to meet the prerequisite to qualify for the university course.

I believe it would be useful for us to list university courses. When reviewi

[2022-09-14 13:48] bakkenb commented on #336
+1  - minor change

[2022-09-14 14:57] leticiaseixas commented on #321
new proposal: [preview](https://deploy-preview-339--wai-course-list.netlify.app/courses/submission/)
<hr>

<h2 id="scope">Scope – what this course list includes</h2>

This Course List includes publicly-available digital accessibility courses in any language, free or paid.

[+] Course List scope details

Courses that **will** be included on this list are:
* Specialization, training, and professiona

[2022-09-14 16:25] shawna-slh commented on #321
OK

[2022-09-15 01:57] shawna-slh opened #342 "[high-med] bug in details?"
![image](https://user-images.githubusercontent.com/6991814/190295029-58fb3ac1-1e84-4864-a834-228def6dee1d.png)

brief ALT: some data seems to be missing

[2022-09-15 01:59] shawna-slh opened #343 "[low] commas instead of semicolons"
In several places I think commas would be better than semicolons &mdash; primarily to reduce visual clutter a wee bit

![image](https://user-images.githubusercontent.com/6991814/190295411-000bc9f4-5cba-4a4e-b87b-dba3301d3fa0.png)

[2022-09-15 02:04] shawna-slh opened #344 "[medium-low later OK] lists bulleted"
![image](https://user-images.githubusercontent.com/6991814/190295594-cb67edf7-ac14-4680-ac8e-21c385e50525.png)

It's nearly impossible for me personally to process the long list of Topics and WAI Curricula as run-ons.

For the Topics, perhaps use bulleted lists, and have them additionally collapsed by default?

For the WAI Curricula, since that is a primary motivation for this list, probably have

[2022-09-15 08:58] leticiaseixas commented on #342
Thanks for spotting that, @shawna-slh- It was an inconsistency between the submission files and how the information is read afterwards - in the case of non-mandatory and unfilled fields. It's already fixed.

[2022-09-15 22:45] shawna-slh commented on #321
* [ ] add to https://github.com/w3c/wai-course-list/wiki/Course-List-Scope some more details from our recent discussion so we don't forget the nuances that we discussed and decisions made :-) &mdash; and can point people to that if needed for more specifics.

[2022-09-16 08:25] #342 closed

[2022-09-16 13:28] leticiaseixas opened #346 "submission form left nav"
Hi @shawna-slh, it looks like the breadcrumb on the submission form is not correct - probably is not on the navigation file?

[2022-09-16 16:25] shawna-slh commented on #346
breadcrumb fixed.

not sure why the left nav isn't showing up. Unless others object, let's leave that to fix later.

[2022-09-16 17:35] shawna-slh opened #347 "courses in other languages"
Shall we encourage courses in other languages to put the title, description, topics, etc. in:
1. both the language of the course and English? **_or_**
2. only the language of the course? **_or_**
3. only English?

_Note that we already deemed translating the course list itself is out of scope._

[2022-09-16 17:36] shawna-slh commented on #347
/me leans towards #1, with the lang of the course first and English in parentheses.

However, that could get long (and there's a word-count limit on the description). So maybe just the course title in both languages and the rest in the language of the course?

[2022-09-16 18:39] shawna-slh opened #348 "Filters for large fonts and small viewports"
In the [Eval Tools List protoype](https://master--wai-evaluation-tools-list.netlify.app/list-of-evaluation-tools/), with large fonts &/or small viewport, the Filters collapse and there is a button to open them. Seems like a good idea for the Course List, too?

[2022-09-19 08:30] carlosapaduarte commented on #347
We already have one course in the list following option 1 (to find it filter by language: German) but with the lang of the course in parentheses. All the other courses that are available in different languages, have followed option 3.

I also support option 1.

[2022-09-19 13:12] shawna-slh commented on #347
If @leticiaseixas @kakinney @bakkenb agree, I support adding a brief note in the submission form, publishing it right away so the new submitters starting today see it, and adding it to the list at https://www.w3.org/WAI/EO/wiki/EOWG_Meetings#Minor_Changes_for_Review.
per [EOWG Process for Minor Changes](https://www.w3.org/WAI/EO/wiki/EOWG_Participation_Info#Process_for_Minor_Changes)

[2022-09-19 13:45] leticiaseixas commented on #347
From what I understand, the discussion leans toward:
- providing the course title in both languages (English in parentheses)
- all the information in the language of the course

The following text was added to the submission form ([preview](https://deploy-preview-349--wai-course-list.netlify.app/courses/submission/)):

[2022-09-19 13:52] carlosapaduarte commented on #347
I misunderstood what was being proposed, and therefore I'm going to clarify my position. I would encourage the course title to be provided in both languages, but not anything else. Therefore, I agree with the first two sentences of the additional text, but not the final one.

Having everything described in two languages would make it:
- confusing for the users of the list
- impossible for us, revi

[2022-09-19 14:22] shawna-slh commented on #347
/me suggested wording tweaks at https://github.com/w3c/wai-course-list/pull/350/files before reading this comment.

I've validated lots and lots of [translations WAI resources](https://www.w3.org/WAI/translations/), that are substantially longer and need to be accurate translations. I have found that with machine translation I can spot potential issues, and ask the translator clarifying questions

[2022-09-19 14:32] bakkenb commented on #347
I am not a representative of the multi-language community (English being my only language); I would also like to hear from those that use multiple languages for their perspective.

That being said, I would agree with Shawn's take on the rest of the information being in the language of the course...

That way it will further confirm that in fact the course itself is not an English based course.

To

[2022-09-19 15:20] shawna-slh opened #351 "add links throughout WAI website"
* [x] add link in DL of  https://www.w3.org/WAI/courses/
* [x] add to All WAI Resources https://www.w3.org/WAI/resources/
* [x] add to WAI site map https://www.w3.org/WAI/sitemap/
* [x] update https://www.w3.org/WAI/fundamentals/ with new course pages
* [x] add to https://www.w3.org/WAI/roles/new/ and maybe other roles/audience pages?
* [ ] add link under “Related Resources” in https://www.w3.org/

[2022-09-19 15:49] shawna-slh commented on #347
@carlosapaduarte @leticiaseixas
Looks like you might be getting a bunch in other languages soon! https://twitter.com/reinaldoferraz/status/1571880211276505088

It would be good to get that data in the language that we want now, so we don't have to go back and ask for updates later.

I propose: **asap** add the first part that I think we all agree on:

Then very soon get general consensus on the se

[2022-09-19 16:00] shawna-slh commented on #347
sidenote: reminder that we need to wrap text in other languages with ```lang``` [H58](https://www.w3.org/WAI/WCAG22/Techniques/html/H58) e.g.,:
```<a href="https://www.incite.at/de/kurse-zertifikate/webaccessibility/">WebAccessibility - Accessible Webdesign (German: <span lang="de">Lehrgang WebAccessibility - Barrierefreies Webdesign</span>)</a>```

[2022-09-19 16:19] leticiaseixas commented on #332
draft note removed - as the list is now published.

[2022-09-19 16:19] #332 closed

[2022-09-19 16:20] leticiaseixas commented on #336
resolved with #339

[2022-09-19 16:20] #336 closed

[2022-09-19 16:45] leticiaseixas commented on #347
Update message with the first part that I think we all agree on: [Preview](https://deploy-preview-349--wai-course-list.netlify.app/courses/submission/)

[2022-09-19 20:22] kakinney commented on #347
I would also like to hear from people that speak languages other than English, but all in all, I agree with Brent's summary.

I think if a course is in German, then the description should also be in German, and the English is secondary, since the course is not available in English.

[2022-09-21 00:08] mgifford opened #359 "How do I see the list of courses?"
The link in the project page went to a [wiki](https://www.w3.org/WAI/EO/wiki/WAI_Curricula/List_of_Courses).

I was expecting to find something basic like https://github.com/accessibility/a11y-courses

or for that matter just a GitHub Pages.

[2022-09-21 08:27] carlosapaduarte commented on #359
@mgifford the course list can be found at https://www.w3.org/WAI/courses/list/

Btw, what project page are you referring to?

[2022-09-21 08:38] carlosapaduarte commented on #359
Of course! We'll update it.

[2022-09-21 08:38] mgifford commented on #359
Thanks @carlosapaduarte

[2022-09-21 14:30] carlosapaduarte commented on #347
Another couple of arguments have appeared:

- As Shawn [pointed out](https://github.com/w3c/wai-course-list/issues/347#issuecomment-1251220587) text in a different language needs to be marked as such. I don't think this will be easily automated. So far, @leticiaseixas has been entering this directly in a file (see [this PR](https://github.com/w3c/wai-course-list/pull/355/files) for an example). Bu

[2022-09-21 15:42] shawna-slh commented on #359
updated https://github.com/w3c/wai-course-list/blob/master/README.md

Thanks @leticiaseixas @carlosapaduarte  @mgifford

[2022-09-21 15:42] #359 closed

[2022-09-21 18:11] mugiwarafx commented on #348
Hi Shawn,

You can assign me this issue 🙂; May I use Javascript in my solution?

Thanks!

[2022-09-21 18:36] shawna-slh commented on #348
Thanks much for the offer @mugiwarafx !

I assume that we will use the same code as for https://master--wai-evaluation-tools-list.netlify.app/list-of-evaluation-tools/
It is here https://github.com/w3c/wai-evaluation-tools-list
If you have any comments, we welcome them in that GitHub repo.

---

We do have other JavaScript and CSS projects that we could use help with! If you might be interested, p

[2022-09-29 16:24] shawna-slh opened #374 "add WAI Curricula content author modules"
https://www.w3.org/WAI/curricula/content-author-modules/

They're officially published and ready to be added to the submission form

(congrats @daniel-montalvo  !)

[2022-10-04 17:40] leticiaseixas commented on #374
WAI Curricula content author modules added

[2022-10-04 17:40] #374 closed